@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
  color:white;
  margin: 0;
  padding: 0;
  
}

body::-webkit-scrollbar {
  display: none;
}


html, body {
  overflow-y: scroll; /* Ensures scrolling is still functional */
  scrollbar-width: none; /* Firefox */
}


.rotating-text {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








